body {
  font-family: Arial, sans-serif;
  background: radial-gradient(ellipse at center, #27aae1 0%, #27aae1 52%, #1c75bc 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

h1, h2 {
  margin: 20px;
}

#nftList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nftItem {
  margin: 10px;
}

.nftItem button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.greenButton {
  background-color: green;
  color: black;
}

.greyButton {
  background-color: grey;
  color: black;
}
